<li class="directory-item flexrow" data-collection="{{collection._id}}" data-entry-id="{{item._id}}" data-uuid="{{item.uuid}}">
  <img class="profile" src="{{item.img}}" title="{{item.name}}"/>
  <h4 class="entry-name"><a>{{item.name}}</a></h4>
  <span class="entry-source">{{collection.label}}</span>
</li>